.rating-container {
    display: flex;
    align-items: center;
  }
  
  .star {
    font-size: 24px;
    margin-right: 5px;
  }
  
  .red-star {
    color: #FF6060; 
  }
  
  .grey-star {
    color: #E3E3E3;
  }
  