.logement-page-container{
  padding: 0 17.5%;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.left-info {
  max-width: 60%;
}

.left-info h1 {
  font-size: 36px;
  color: #FF6060;
  margin: 0;
}

.left-info p {
  margin: 5px 0 15px;
  color: black;
  font-size: 16px;
  font-size: 500;
}

.right-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.dropdown-list {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-top: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.dropdown-item {
  min-width: 300px;
  box-sizing: border-box;
}

.dropdowns-wrapper {
  display: flex;
  gap: 20px; 
  justify-content: space-between;

  margin-top: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    width: 100%;
  }
}

.dropdown-container {
  flex: 1; 
}

@media (max-width: 768px){
  .dropdowns-wrapper{
    gap: 0px;
  }
  .dropdown-list{
    gap: 10px;
  }
  .left-info h1{
    font-size: 26px;
  }
  .top-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .right-info {
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0;
  }

  .left-info {
    max-width: 100%;
  }

  .left-info h1 {
    font-size: 26px;
  }
  .logement-page-container{
    padding: 0 5%;
  }

}
