.card-container {
  display: flex;
  justify-content: center;
  margin-bottom: 65px;
}

.card-wrapper {
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 25px;
  padding: 35px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1240px;
  gap: 55px;

  @media (max-width: 768px) {
    background-color: transparent;
    padding: 15px 0;
  }
}

.card-item-link {
  text-decoration: none; 
}

.card-item {
  width: 340px;
  height: 340px;
  padding: 15px 20px;
  border-radius: 8px;
  color: #FFFFFF;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  position: relative;

  &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
      border-radius: 8px;
      z-index: 1; 
  }

  .card-item-title {
      z-index: 2; 
  }
}
