.carousel-container {
  position: relative;
  width: 100%;           
  margin: 0 auto;     
  height: 500px;       
  overflow: hidden;
  margin-top: 40px;

  @media (max-width: 768px) {
    max-width: 400px;
    height: 315px; 
  }
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  @media (max-width: 768px) {
    font-size: 30px;
  }
}

.left-arrow {
  left: 20px;
}

.right-arrow {
  right: 20px;
}

.carousel-track {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.carousel-slide {
  flex: 0 0 100%;
  position: relative;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.carousel-index {
  position: absolute;
  bottom: 20px;        
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 18px;
  z-index: 10;        
}